@charset "ISO-8859-1";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body, button, input{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}
body{
    background-color: hsl(180, 100%, 99%);
}
h2{
	color: rgb(0, 0, 0);
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.header{
    width: 100%;
    background-color: hsl(233, 100%, 14%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background -3s;
}
.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    color: hsl(180, 4%, 98%);
    display: flex;
}
.nav_logo{
    align-items: center;
    column-gap: .5rem;
    font-weight: 700;
}

.bg-header{
    background-color: hsl(233, 100%, 14%);
    box-shadow: 0 4px 8px hsla(180, 12%, 4%, .3);
}

@media screen and (max-width: 1023px){
    .nav_menu{
        position: fixed;
        background-color: hsla(180, 12%, 8%, .8);
        backdrop-filter: blur(32px);
        --webkit-backdrop-filter: blur(32px);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        border-left: 2px solid hsl(79, 6%, 64%);
        transition: right .3s;
    }
}

.nav_list{
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.nav_link{
    color: hsl(180, 4%, 98%);
    transition: color .3s;
}
.nav_link:hover{
    color: hsl(216, 100%, 50%);
}
.nav .nav_button{
    background-color: hsl(180, 4%, 98%);
    border: none;
}
.button{
    display: inline-block;
    background-color:hsl(60, 100%, 99%);
    padding: 13px 22px;
    color: hsl(240, 96%, 49%);
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition: background .3s;
}
.button:hover{
    background-color:hsl(244, 100%, 51%);
    color: #fff;
}

.show-menu{
    right: 0;
}

.bg-header{
    background-color: hsl(233, 100%, 14%);
    box-shadow: 0 4px 8px hsla(180, 12%, 4%, .3);
}

.active-link{
    color:hsl(214, 96%, 56%);
}
.doctor_container{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	gap: 20px;
}
.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    color: rgb(0, 0, 0);
}

.box{
    background: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form-box{
    width: 400px;
    margin: 120px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(205, 201, 201);
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top: 30px;
}
.form-box form .input input, select{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.doctor_list{
	width:81vw;
    margin: 120px 10px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	color: rgb(0, 0, 0);
	font-size: 1rem;
}
tr:nth-child(even){
	background-color: #dddddd;
}
.status{
	color: red;
	text-align: center;
	margin-top: 2px;
}
.btn{
	background-color: rgb(0, 0, 203);
    color: #fff;
    height: 35px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 10px 10px;
}
.btn:hover{
    background-color: hsl(233, 100%, 14%);
    color: #fff;
}
.errBtn{
	background-color: red;
    color: #fff;
    height: 35px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 10px 10px;
}
.submit{
    width: 100%;
}
.links a{
    margin-bottom: 15px;
    color: #e0dfdf;
}
.links a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 768px){
    .nav_menu{
        width: 50%;
    }
}
@media screen and (min-width: 1023px) {
    .nav{
        height: calc(3.5rem + 2rem);
    }
    .nav_menu{
        width: initial;
    }
    .nav_toggle,
    .nav_close{
        display: none;
    }
    .nav_list{
        flex-direction: row;
        padding: 0;
        align-items: center;
        column-gap: 4rem;
    }
}
@media screen and (min-width: 1150px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav_logo{
        font-size: 1.5rem;
        width: 2.25rem;
    }
}
